.ClockPanel {
  height: 100vh;
  background: black;
}

.ClockText {
  color: white;
  position: absolute;
  text-align: center;
  transition: opacity 0.5s;
  white-space: nowrap;
}

.TimeText {
  font-size: 5em;
}

.DateText {
  font-size: 2em;
}
